name: Build and Release DEB and RPM

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*.*.*'  # Semantic version tags

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Determine tag name
        id: tag_name
        run: |
          echo "::set-output name=tag_name::$(echo ${{ github.ref }} | cut -d '/' -f 3)"
          echo "::set-output name=version::$(echo ${{ github.ref }} | cut -d '/' -f 3 | cut -d 'v' -f 2 )"

      - name: Set up CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: '3.28'

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y dpkg-dev rpm libvlc-dev vlc libvlccore-dev build-essential

      - name: Build project
        run: |
          mkdir build
          cd build
          cmake ..
          make

      - name: Build DEB package
        run: |
          mkdir -p build/debian/DEBIAN/
          cp debian/* build/debian/DEBIAN/
          sed -i 's/\${misc:Depends}, //g' build/debian/DEBIAN/control
          sed -i 's/\${shlibs:Depends}, //g' build/debian/DEBIAN/control
          sed -i 's/, \${misc:Depends}//g' build/debian/DEBIAN/control
          sed -i 's/, \${shlibs:Depends}//g' build/debian/DEBIAN/control
          sed -i 's/Architecture: any/Architecture: amd64/g' build/debian/DEBIAN/control
          mkdir -p build/debian/usr/lib/x86_64-linux-gnu/vlc/plugins/misc
          cp lib/libxattrplaying_plugin.so build/debian/usr/lib/x86_64-linux-gnu/vlc/plugins/misc/
          cd build
          dpkg-deb --build debian xattrplaying_plugin_${GITHUB_REF#refs/tags/}.deb

      - name: Setup RPM package
        run: |
          mkdir -p build/rpm/{BUILD,RPMS,SOURCES,SPECS,SRPMS}
          cp spec/libxattrplaying_plugin.spec build/rpm/SPECS/
          sed -i "s/Version: .*/Version: ${{ steps.tag_name.outputs.version }}/" build/rpm/SPECS/libxattrplaying_plugin.spec
          git archive --format=tar.gz --prefix=libxattrplaying_plugin-${{ steps.tag_name.outputs.version }}/ HEAD > build/rpm/SOURCES/libxattrplaying_plugin-${{ steps.tag_name.outputs.version }}.tar.gz
          rpmbuild --nodeps --define "_topdir $(pwd)/build/rpm" -bb build/rpm/SPECS/libxattrplaying_plugin.spec

      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "build/xattrplaying_plugin_${{ steps.tag_name.outputs.tag_name }}.deb,build/rpm/RPMS/x86_64/libxattrplaying_plugin-${{ steps.tag_name.outputs.version }}-1.x86_64.rpm"
          tag: ${{ steps.tag_name.outputs.tag_name }}
          name: Release ${{ steps.tag_name.outputs.version }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}